<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoubanMusicDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DoubanMusicDownloader.Properties.Settings>
            <setting name="DoubanFMUrl" serializeAs="String">
                <value>http://douban.fm/j/mine/playlist?type=n&amp;channel={0}&amp;from=mainsite</value>
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value>[{0}]-[{1}]-[{2}].mp3</value>
            </setting>
            <setting name="TaskCount" serializeAs="String">
                <value>5</value>
            </setting>
        </DoubanMusicDownloader.Properties.Settings>
    </applicationSettings>
</configuration>